@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-tech {
  background-image: url("https://media.istockphoto.com/id/1350653555/photo/future-digital-cyberspace-sorting-and-analysis-digital-data-technology-matrix-algorithm.jpg?s=612x612&w=0&k=20&c=3urlFQ6NvNxb6SZhexBe8SrqwIrugDeId_8x5G33Z4g=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-bg-tech {
  background-image: url("https://wallpapercave.com/wp/wp7617144.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}